/java/variables/nbproject/private/
/java/VariablesJava/nbproject/private/
/java/VariablesJava/build/
/java/Clase4/nbproject/private/
/java/Clase-4/nbproject/private/
/java/Clase-4/build/
/java/Imc/nbproject/private/
/java/EJ-Imc/nbproject/private/
/java/EJ-Imc/build/
/java/pasajeGrados/nbproject/private/
/java/pasajeGrados/build/
